*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
}
.header{
    background-color: rgb(229, 243, 248);
    padding: 1.5rem 6rem;
    .header_menu{
        padding: 1.5rem 0;
        .header_flex{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            nav{ 
                .logo{
                    text-align: center;
                }
                li{
                    display: inline;
                    padding-right: 2rem;
                }
            }  
        }
        
    }
    .header_body{
        padding: 2rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .header_body_text{
            padding-top: 6rem;
            h1{
                font-size: 4.5rem;
                width: 700px;
            }
            button{
                margin-top: 2rem;
                padding: .9rem 2rem;
                background-color:  #8C30F5;
                color: #fff;
                font-size: 1rem;
                border-radius: .2rem;
                border: none;
            }
        }
    }
}

// About
.about{
    padding: 1rem 6rem 4rem;
    .about_bar{
        margin: 0 3rem;
        display: flex;
        padding: 1.3rem 0 1rem 0;
        justify-content: space-between;
        border-top: .7px solid rgb(130, 130, 130);
        border-bottom: .7px solid rgb(130, 130, 130);
        border-width: 100%;
        li{
            display: inline;
        }
    }
    .about_body_text{
        margin-top: 5rem;
        .text_center{
            text-align: center;
            padding-bottom: 3rem;
            .big_text{
                font-size: 3rem;
                font-weight: 800;
                padding-bottom: 1rem;
            }
        }
        .about_contbox{
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 2rem;
            .contbox_item{
                text-align: center;
                h3{
                    padding: .7rem 0 .5rem;
                }
            }
        }
        
    }  
}
// Products
.product{
    padding: 4rem 10rem;
    background-color: #D5FAFC;
    .product_box_block{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2rem;
        .product_left{
                h2{
                    font-size: 3rem;
                    font-weight: 800;
                    width: 450px;
                    text-align: right;
                    margin-top: -5rem;
                    z-index: 1;
                }
                .inspire{
                    margin: .5rem 0 0 6.3rem;
                    font-size: 1.2rem;
                }
                .hubspot{
                    margin-top: 1.5rem;
                    width: 350px;
                    float: right;
                    font-size: 1.2rem;
                    background-color: #fff;
                    padding: 2rem;
                }
        }

        .product_right{    
            .airbnb_block{
                margin-top: 6rem; 
                padding:2rem;
                background-color: white;
                width: 450px;
            }
            .mybook{
                background-color: white;
                padding: 2rem;
                margin-top: 2rem;
                width: 350px;
            }
        }
    }
}

// Independents
.cite_name{
    font-weight: bold !important;
    margin-top: 1.5rem;
}
.cite_proff{
    font-size: .85rem !important;
}
.three_blocks{
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    font-size: 1.2rem;
}
// Independents