* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Manrope', sans-serif;
}

.header {
  background-color: #e5f3f8;
  padding: 1.5rem 6rem;
}

.header .header_menu {
  padding: 1.5rem 0;
}

.header .header_menu .header_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header_menu .header_flex nav li {
  display: inline;
  padding-right: 2rem;
}

.header .header_menu .header_flex nav li:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
  font-size: 110%;
  text-shadow: 1px 3px 5px #6dc6e9;
}

.header .header_body {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header_body .header_body_text {
  padding-top: 6rem;
}

.header .header_body .header_body_text h1 {
  font-size: 4.5rem;
  width: 700px;
}

.header .header_body .header_body_text button {
  margin-top: 2rem;
  padding: .9rem 2rem;
  background-color: #8C30F5;
  color: #fff;
  font-size: 1rem;
  border-radius: .2rem;
  border: none;
}

.about {
  padding: 1rem 6rem 4rem;
}

.about .about_bar {
  margin: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.3rem 0 1rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 0.7px solid #828282;
  border-bottom: 0.7px solid #828282;
  border-width: 100%;
}

.about .about_bar li {
  display: inline;
}

.about .about_body_text {
  margin-top: 5rem;
}

.about .about_body_text .text_center {
  text-align: center;
  padding-bottom: 3rem;
}

.about .about_body_text .text_center .big_text {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 1rem;
}

.about .about_body_text .about_contbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 2rem;
}

.about .about_body_text .about_contbox .contbox_item {
  text-align: center;
}

.about .about_body_text .about_contbox .contbox_item h3 {
  padding: .7rem 0 .5rem;
}

.about .about_body_text .about_contbox .contbox_item h3:hover {
  text-decoration: overline;
}

.product {
  padding: 4rem 10rem;
  background-color: #D5FAFC;
}

.product .product_box_block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 2rem;
}

.product .product_box_block .product_left h2 {
  font-size: 3rem;
  font-weight: 800;
  width: 450px;
  text-align: right;
  margin-top: -5rem;
  z-index: 1;
}

.product .product_box_block .product_left .inspire {
  margin: .5rem 0 0 6.3rem;
  font-size: 1.2rem;
}

.product .product_box_block .product_left .hubspot {
  margin-top: 1.5rem;
  width: 350px;
  float: right;
  font-size: 1.2rem;
  background-color: #fff;
  padding: 2rem;
}

.product .product_box_block .product_right .airbnb_block {
  margin-top: 6rem;
  padding: 2rem;
  background-color: white;
  width: 450px;
}

.product .product_box_block .product_right .mybook {
  background-color: white;
  padding: 2rem;
  margin-top: 2rem;
  width: 350px;
}

.pricing {
  padding: 5rem 10rem 3rem;
}

.pricing .pricing_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing .pricing_header .pricing_text {
  width: 400px;
}

.pricing .pricing_header .pricing_text h2 {
  font-size: 3rem;
  margin-bottom: .5rem;
}

.pricing .pricing_header .pricing_nums {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 3rem;
}

.pricing .pricing_header .pricing_nums .pricing_num_item {
  display: -ms-grid;
  display: grid;
}

.pricing .pricing_header .pricing_nums .pricing_num_item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.pricing .pricing_header .pricing_nums .pricing_num_item h4 {
  font-size: 1.7rem;
}

.pricing .pricing_headline {
  margin-top: 9rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.pricing .pricing_headline .pricing_head_text h3 {
  font-size: 2.5rem;
  margin-top: 4rem;
  font-weight: 800;
  padding: 2rem 0;
}

.pricing .pricing_headline .pricing_head_text p {
  width: 450px;
  font-size: 1.2rem;
}

.pricing .pricing_headline .pricing_head_text .get_start {
  font-size: 1.35rem;
  color: #8C30F5;
  font-weight: bold;
}

.blog {
  padding: 4rem 10rem;
}

.blog .blog_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

.blog .blog_header h3 {
  font-size: 2.5rem;
}

.blog .blog_header p {
  font-size: 1.2rem;
  margin-top: .5rem;
}

.blog .blog_image {
  width: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.blog .blog_image:hover {
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.jobs {
  padding: 0 10rem;
  background-color: #2EC5CE;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jobs .jobs_left h2 {
  font-size: 3rem;
  width: 540px;
  margin-top: 4rem;
}

.jobs .jobs_left .p_text {
  margin: .5rem 0 3rem;
  font-size: 1.2rem;
}

.jobs .jobs_left p {
  margin: .5rem 0;
  font-size: 1.2rem;
}

.jobs .jobs_right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jobs .jobs_right .mockup2 {
  margin-top: 5rem;
}

.footer {
  background-color: #0B0D17;
  padding: 3.5rem 10rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.footer .footer_left .foot_nav li {
  display: inline;
  color: white;
  padding-right: 1.5rem;
}

.footer .footer_left .toppy {
  padding: 1.5rem 0 .85rem;
}

.footer .footer_left .coopy {
  color: #fff;
  font-size: .85rem;
  padding-top: 1.5rem;
}

.footer .footer_right nav li {
  list-style-type: none;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  color: white;
}

.cite_name {
  font-weight: bold !important;
  margin-top: 1.5rem;
}

.cite_proff {
  font-size: .85rem !important;
}

.three_blocks {
  padding-top: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 1rem;
  font-size: 1.2rem;
}
/*# sourceMappingURL=still.css.map */